@font-face {
  font-family: IndieFlower-Regular;
  src: local(IndieFlower-Regular),
    url(./utils/fonts/IndieFlower-Regular.ttf) format("truetype");
}
body {
  margin: 0;
  padding: 0;
  font-family: "IndieFlower-Regular", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
